.navbar {
  background: #000B76;
}

.headerbg{
  height: 200px;
  background-color: darkblue;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}

@media screen and (min-width: 992px) {
  .image_accueil {
    display: none;
  }
}
